$main: #181818;
$white: #ffffff;
$grey-light: #f7f7f7;
$grey-dark: #494949;
$primary-yellow: #ffbc01;
$white-dirty: #dadada;
$red: #cc0000;
$box-shadow: #00000014;
$hover-box-shadow: #0000003D;
$overlay: #18181880;
$overlay-shadow: #181818B3;

